/***********************************************************/
/*************************** Color *************************/
/***********************************************************/

$color-very-dark-grayish-blue: #48556a;
$color-desaturated-dark-blue: #6d7f97;
$color-grayish-blue: #9eafc2;
$color-light-grayish-blue: #ecf2f8;
$color-grey: #c9d5e1;
$color-white: #fff;
